body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #031716;
}

header {
    background-color: #f4f4f4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #0C969C;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #032F30;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
    color: #0A7075;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

h2 {
    text-align: center;
    color: #031716;
    border-bottom: 2px solid #0C969C;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.history-section p {
    line-height: 1.6;
    text-align: center;
}

.team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 50px 0;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
}

.team-member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #0C969C;
}

.description-box {
    margin-top: 15px;
    background-color: #6ba3be1a; /* Using a transparent version of the light blue */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.description-box h3 {
    margin-top: 0;
}

/* Footer styles */
footer {
    background-color: #031716;
    color: #f4f4f4;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-left, .footer-right, .footer-middle {
    flex: 1;
    min-width: 200px;
}
.footer-left h4, .footer-right h4 {
    margin-bottom: 10px;
}
.footer-middle {
    text-align: center;
}
.highlight-button {
    background-color: #274D60;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}
.highlight-button:hover {
    background-color: #0C969C;
}